/* css reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
.img {
  border: 0;
}

li {
  list-style: none;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background: linear-gradient(
    178.1deg,
    rgb(60, 55, 106) 8.5%,
    rgb(23, 20, 69) 82.4%
  );
  color: #fafafa;
  margin: 30px;
}
ul {
  text-decoration: none;
  text-decoration-color: #fafafa;
  margin: 0;
  padding: 0;
}
/*nav {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
} */

nav li {
  display: inline;
  float: right;
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: #fafafa;
  padding: 20px;
}
nav {
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
}
.logo {
  display: inline;
  float: left;
  margin-left: 20px;
}
.avatar {
  border-radius: 50%;
  width: 45px;
}
.hero-text {
  margin: 40px 80px;
  text-align: center;

  line-height: 38px;
}
.hero-text h1 {
  font-size: 2.5rem;
  padding: 20px;
}
.hero-text h2 {
  font-size: 2.25rem;
  padding: 15px;
}
.hero-text p {
  margin: 0 30px;
  font-size: 1.2rem;
  text-align: left;
}
.two-columns {
  text-align: center;
}
/*equal columns float together*/
.two-columns .column {
  width: 100%;
  max-width: 350px;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  margin: 50px;
}

.two-columns .row {
  margin-top: 30px;
  margin-bottom: 65px;
}

h3 {
  font-size: 1.5rem;
  font-weight: 800;
}
.learn-btn button {
  display: inline-flex;
  margin-top: 20px;
  background-color: #786197;
  color: #fafafa;
  border-radius: 5px;
  padding: 5px;
  /*position: relative;*/
  vertical-align: bottom;
}
.learn-btn:hover {
  transform: scale(1.15);
}
/* Clear floats after the columns 
.row:after {
  content: '';
  display: table;
  clear: both;
}*/
.work h4 {
  font-size: 2rem;
  padding-bottom: 20px;
}
.work p {
  font-size: 1.1rem;
}
.tech-logo {
  margin: 20px;
  text-align: center;
}

.tech-logo li {
  padding: 20px;
  display: inline-block;
  text-align: center;
  /*justify-content: center;
  margin-left: 70px; */
}

.certifications {
  text-align: center;
}
.certifications h5 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}
.certifications .column {
  width: 100%;
  max-width: 200px;
  display: inline-block;
  vertical-align: bottom;
}
.certifications .row {
  margin-top: 30px;
  /*margin-left: 200px;*/
}
.contact-btn {
  text-align: center;
  align-self: center;
  margin: 60px;
}
.contact-btn button {
  background-color: #fafafa;
  color: black;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 10px 20px;
}
.contact-btn:hover {
  background-color: #786197;
  color: #fafafa;
}

footer {
  margin-top: 30px;
  margin-bottom: 30px;
  align-content: center;
  text-align: center;
}
.contact-logo ul {
  align-content: center;
  margin-left: 200px;
  margin-bottom: 100px;
}
.contact-logo li {
  display: inline-block;
  padding: 40px;
}
/*responsive layout*/
@media screen and (max-width: 767px) {
  .nav-link a {
    padding: 4px;
    font-size: 0.6rem;
    display: inline-flex;
  }
  .hero-text {
    display: inline-block;
    justify-content: start;
    margin: 20px 10px;
  }
  .hero-text h1,
  .hero-text h2 {
    font-size: 1.5rem;
    line-height: 20px;
  }
  .hero-text p {
    font-size: 1rem;
  }
  .two-columns .column {
    margin: 0;
  }
  .column {
    width: 100%;
  }
  .certifications img {
    padding: 10px;
  }

  .contact-btn button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .contact-logo {
    visibility: hidden;
  }
}
